<div class="content">
  <br>
  <h2>Das Ratespiel</h2>
  <p>"Der wahre Walter" ist ein Spiel, bei dem ein Satz vorgelesen wird, wobei ein oder mehrere Wörter durch das
    Wort "Walter" ersetzt werden.
    <br>
    Jeder Spieler fügt heimlich etwas zum Satz hinzu und dann raten alle, welche Version die ursprüngliche ist.
  </p>
  <br>
  <div class="button-container">
    <button type="button" (click)="requestNewGame()">Neues Spiel</button>
    <button type="button" (click)="goToJoinPage()">Spiel beitreten</button>
  </div>
</div>
