<div *ngIf="isEnteringOrEnteredRound()">
  <www-round *ngIf="round$ | async as round; else entering"
             [round]="round">
  </www-round>

  <ng-template #entering>
    <www-error (retryEmitter)="tryAgain()"
               [httpError] = httpErr>
    </www-error>
  </ng-template>
</div>

<www-result-container *ngIf="gameState == GameState.SHOW_RESULTS_AND_RANKING">
</www-result-container>

<www-current-game-info *ngIf="gameInfoAvailable()"
                       [playerName]="playerName"
                       [gameId]="gameId">
</www-current-game-info>
