<div *ngIf="round$ | async as round; else entering">
  <www-round *ngIf="showRoundComponent()"
             [round]="round">
  </www-round>

  <www-result-container *ngIf="gameState == GameState.SHOW_RESULTS_AND_RANKING"
                        [round]="round">
  </www-result-container>
</div>

<ng-template #entering>
  <www-error (retryEmitter)="getRound()"
             [httpError]=httpErr>
  </www-error>
</ng-template>

<www-current-game-info *ngIf="gameInfoAvailable()"
                       [playerName]="playerName"
                       [gameId]="gameId">
</www-current-game-info>
