<div class="column">
  <div>
    <div>{{round.prompt}}</div>
    <br>
    <br>
    <div class="textbox special-margin2 special-margin3">Dein Vorschlag</div>
    <br>

    <div *ngFor="let proposition of propositionsForGaps; let i = index">
      <input class="special-margin2" type="text" placeholder="{{i+1}}. Walterersatz"
             [(ngModel)]="propositionsForGaps[i].text">
    </div>

  </div>
  <br>
  <button class="special-margin2" (click)="emitProposition()">Senden</button>
  <h2></h2>
</div>
