<div class="content">
  <input type="text" name="gameId" placeholder="Spiel Id" maxlength="{{GAME_ID_LENGTH}}"
         [readOnly]="gameIdIsReadOnly"
         [(ngModel)]="joinGameId"/>
  <ng-container *ngIf="isCopyButtonVisible">
    <button class="btn" type="button" ngxClipboard [cbContent]="getTextToBeCopied()">kopiere Link</button>
  </ng-container>

  <input type="text" name="playerName" placeholder="Name eingeben" maxlength="{{MAX_INPUT_LENGTH}}"
         [(ngModel)]="playerName"/>
  <button [disabled]="!canJoinGame" (click)="joinGame()" formtarget="_blank">beitreten</button>
</div>
<ng-container *ngIf="error">
  <p style="color: orangered">
    {{this.errorText}}
  </p>
</ng-container>
