<div class="content">

  <input type="text" name="playerName" placeholder="Name eingeben" autofocus [(ngModel)]="playerName"/>

  <input type="text" name="gameId" placeholder="Spiel Id eingeben"
         [readOnly]="gameIdIsReadOnly"
         [(ngModel)]="joinGameId"/>
  <ng-container *ngIf="isCopyButtonVisible">
    <button class="btn" type="button" ngxClipboard [cbContent]="getTextToBeCopied()">kopiere Link</button>
  </ng-container>

  <input type="text" name="playerName" placeholder="Name eingeben" [(ngModel)]="playerName"/>
  <button [disabled]="!canJoinGame" (click)="joinGame()" formtarget="_blank">Beitreten</button>
</div>
<ng-container *ngIf="error">
  <p style="color: orangered">
    {{this.errorText}}
  </p>
</ng-container>
