<div class="content">

  <div class="container">
    <div class="container">

      <input type="text" name="gameId" placeholder="Spiel Id eingeben" class="input_cont" autocapitalize="characters"
             style="text-transform: uppercase"
             maxlength="{{GAME_ID_LENGTH}}"
             [readOnly]="gameIdIsReadOnly"
             [ngModel]="joinGameId"
             (ngModelChange)="joinGameId = $event.toUpperCase()"/>

      <ng-container *ngIf="isCopyButtonVisible">
        <button class="btn" type="button" (click)="copyLink()" title="Link kopieren"><img
          ngSrc="assets/link.png" height="15" width="15" alt="Link kopieren"></button>
      </ng-container>
    </div>
  </div>

  <input type="text" name="playerName" placeholder="Name eingeben" autofocus  maxlength="{{MAX_INPUT_LENGTH}}"
         [(ngModel)]="playerName"/>

  <button [disabled]="!canJoinGame" (click)="joinGame()" formtarget="_blank">Beitreten</button>

  <button (click)="returnToStart()">Zurück zur Startseite</button>

</div>
<ng-container *ngIf="error">
  <p style="color: orangered">
    {{this.errorText}}
  </p>
</ng-container>
