body {
  background: #333333 url("assets/background.svg");
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  max-height: 25vh;
  max-width: 25vh;
}

p {
  text-align: center;
}

b {
  text-align: center;
}

input {
  min-width: 20em;
  width: fit-content;
  padding: 1em;
  background: transparent;
  border: none;
  border-bottom: #058785 2px solid;
  font-size: 15px;
  color: white;
  position: relative;
  outline: none;
}

.textbox {
  font-size: 20px;
  color: white;
  position: relative;
  background: darkslategray;
  padding: 2px;
  text-align: center;
  width: auto;
  margin: 1px 0 2px 10px;
  border-radius: 10px;
}

.textbox_table {
  font-size: 20px;
  color: white;
  position: relative;
  background-color: transparent;
  padding: 2px;
  text-align: center;
  width: 150px;
  margin: 1px 0 2px 10px;
  border-radius: 4px;
}

.special-margin2 {
  margin-left: 20px;
  align-self: center;
}

.special-margin3 {
  width: 200px
}

button {
  background-color: #fcc603;
  color: black;
  border: white;
  width: max-content;
  margin-top: 1em;
  padding: 0.5em 1em;
  font-size: 150%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  transition-duration: 0.6s;
}

.btn {
  background-color: #fcc603;
  color: black;
  border: white;
  width: max-content;
  padding: 0.25em 0.25em;
  font-size: 100%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  transition-duration: 0.6s;
}

button:hover {
  background-color: #058785;
  color: black;
  border: white;
}

button:disabled {
  background-color: #7f7f7f;
  cursor: not-allowed;
}

.input[type="text"] {
  width: 70%;
  height: 30px;
  margin-left: 10px;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background: transparent;
  border-bottom: #058785 solid 1px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

input:read-only {
  opacity: 55%;
  color: #ffffff;
}


.header {
  background: linear-gradient(#000000, transparent);
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.collapsible {
  background-color: #fcc603;
  color: #444;
  padding: 14px;
  font-size: 16px;
  margin-right: 1em;
}

.active, .collapsible:hover {
  background-color: #058785;
}

div {
  flex-flow: column;
  display: flex;
  width: 100vw;
}

.info {
  flex-flow: wrap;
  bottom: 0;
}

.button-container {
  width: 80%;
  align-self: center;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  align-items: baseline;
}

.flex-container > button {
  background-color: #fcc603;
  color: black;
  border: white;
  width: max-content;
  padding: 0.25em 0.25em;
  margin-left: 0.5em;
  font-size: 100%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  transition-duration: 0.6s;
  align-self: self-start;
  justify-content: center;
}

.container > input {
  width: 10%;
  height: 30px;
  margin-left: 10px;
  padding: 5px;
  font-size: 16px;
  border: none;
  background: transparent;
  border-bottom: #058785 solid 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
}

.content {
  row-gap: 1em;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: initial;
  padding: 1.5em;
}

.content_collapsed {
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: transparent;
  padding-top: 3em;
  padding-left: 3em;
}

.spinner {
  width: 100px;
  height: 85px;
  margin: 100px auto;
  background: transparent;
  border: 16px solid #333333;
  border-top: 16px solid #058785;
  text-align: center;
  padding-top: 18px;
  font-size: large;
  border-radius: 50%;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.sphinx {
  animation: pulse 10s ease-in-out infinite;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 10em;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

h2 {
  text-align: center;
}

.h2_sphinx {
  text-align: center;
  color: #fcc603;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

span {
  text-align: center;
}

table {
  border-collapse: collapse;
  font-size: 1.2em;
  font-family: "Helvetica Neue", sans-serif;
  border: 2px solid #058785;
  width: 40%;
  text-align: center;
}

th, td {
  border: 1px dotted #058785;
  padding: 0.5em;
}

th {
  background-color: #058785;
}

.table_info {
  border-collapse: collapse;
  font-size: 1.2em;
  font-family: "Helvetica Neue", sans-serif;
  border: 2px solid gray;
  width: 40%;
  text-align: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.th_info {
  border: 1px dotted gray;
  padding: 0.5em;
  background-color: gray;
}

.td_info {
  border: 1px dotted gray;
  padding: 0.5em;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
